@using TodoSeUsa.Application.Features.Boxes.DTOs
@using TodoSeUsa.Application.Features.Boxes.Interfaces
@using TodoSeUsa.Application.Features.Products.DTOs
@using TodoSeUsa.Application.Features.Products.Interfaces
@using TodoSeUsa.BlazorServer.Validation
@using TodoSeUsa.BlazorServer.UI.Notifications

@inject IProductService ProductService;
@inject IBoxService BoxService;

@inject DialogService DialogService;
@inject SimpleNotifications SimpleNotifications;

@attribute [Authorize]

<RadzenTemplateForm TItem="int" Data="@productId" Submit="@AddProductToBoxAsync" class="mb-4">
    <RadzenFieldset>
        <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">

            <RadzenLabel Component="Code" Text="Código del producto" />

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" Wrap="FlexWrap.Wrap">

                <RadzenNumeric Name="Code" @bind-Value="@productId" Placeholder="ejemplo: 1" />

                <RadzenButton ButtonType="ButtonType.Submit" Icon="add" Text="Agregar" />

            </RadzenStack>

            <RadzenNumericRangeValidator Component="Code" Min="1" Text="El código debe ser mayor a cero" />
        </RadzenStack>
    </RadzenFieldset>
</RadzenTemplateForm>

<RadzenFieldset class="mb-4" id="addedProducts-fieldset">

    <HeaderTemplate>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
            <RadzenIcon Icon="apparel" />
            <span>Productos</span>
        </RadzenStack>
    </HeaderTemplate>

    <ChildContent>
        @if (addedProducts.Count == 0)
        {
            <RadzenText Text="Aún no seleccionaste productos para guardar en ésta caja." />
        }
        else
        {
            <RadzenStack Gap="1rem">
                @foreach (var p in addedProducts)
                {
                    <RadzenCard Style="padding:0.75rem;">

                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">

                            <RadzenStack Orientation="Orientation.Vertical" Gap="0.25rem">
                                <b>Código: @p.Id</b>
                                <span>@p.Category - @p.Description - @p.Body - Talle @p.Size - @p.Quality</span>
                                <span>Precio: @p.Price.ToString("C")</span>
                            </RadzenStack>

                            <RadzenButton Click="@(() => RemoveProductFromBox(p.Id))" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" Icon="cancel" Style="height: 40px; width: 40px;" />

                        </RadzenStack>
                    </RadzenCard>
                }
            </RadzenStack>
        }
    </ChildContent>
        
</RadzenFieldset>

<RadzenTemplateForm TItem="List<int>"  Data="productIds" Submit="@SaveProductsInBox">

    <RadzenTextBox Name="GhostProductCodesValidator" @bind-Value="@ghostProductCodesValidator" hidden="true" />

    <RadzenCustomValidator Component="GhostProductCodesValidator" Validator="@(() => productIds.Count > 0)" 
                           Text="No hay productos para guardar." />

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">

        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" ButtonStyle="ButtonStyle.Primary" Text="Guardar" />

    </RadzenStack>

</RadzenTemplateForm>

@code {

    [Parameter] public BoxDto BoxDto { get; set; } = null!;

    List<ProductDto> addedProducts = [];

    List<int> productIds = [];

    int productId = 0;

    string ghostProductCodesValidator = "Trickery";

    async Task AddProductToBoxAsync()
    {
        var result = await ProductService.GetByIdAsync(productId, CancellationToken.None);

        if (result.IsSuccess)
        {
            var product = result.Value;

            if (product.Status == ProductStatus.Sold)
            {
                SimpleNotifications.Warning($"El producto con el código '{product.Id}' ya fue vendido.");
                return;
            }

            if (product.BoxId == BoxDto.Id)
            {
                SimpleNotifications.Warning($"El producto ya está en ésta caja.");
                return;
            }

            if (product.BoxId != null)
            {
                SimpleNotifications.Warning($"El producto está en otra caja.");
                return;
            }

            if (addedProducts.Any(p => p.Id == product.Id))
            {
                SimpleNotifications.Info($"El producto ya está en la lista.");
                return;
            }
            addedProducts.Add(product);
            productIds.Add(product.Id);
        }
        else
        {
            SimpleNotifications.Warning($"No se encontró un producto con el código '{productId}'.");
        }
        productId = 0;
    }

    void RemoveProductFromBox(int Id)
    {
        var productToRemove = addedProducts.SingleOrDefault(p => p.Id == Id);
        if (productToRemove != null)
        {
            addedProducts.Remove(productToRemove);
            productIds.Remove(productToRemove.Id);
        }
    }

    async Task SaveProductsInBox()
    {
        var result = await BoxService.AddProductsToBoxAsync(BoxDto.Id, productIds, CancellationToken.None);
        DialogService.Close(result);
    }
}