@using Microsoft.Extensions.Options
@using TodoSeUsa.BlazorServer.Components.Pages.Boxes
@using TodoSeUsa.BlazorServer.Components.Pages.Consignments
@using TodoSeUsa.BlazorServer.Components.Pages.Products
@using TodoSeUsa.BlazorServer.Components.Pages.Providers
@using TodoSeUsa.BlazorServer.UI.Notifications

@inherits LayoutComponentBase;

@inject IJSRuntime JS

@inject NavigationManager _navigationManager;
@inject SimpleNotifications _simpleNotifications;
@inject DialogService _dialogService;
@inject CookieThemeService _cookieThemeService;

<RadzenComponents @rendermode="InteractiveServer" />

<style>

    .fab-bottom-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10000;
    }

    .fab-top-container {
        position: fixed;
        top: 120px;
        right: 10px;
        z-index: 10000;
    }

    #myBtn {
        display: none;
    }

</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="max-width: 100%; overflow-x: auto;">

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>


<div class="fab-bottom-container">

    <RadzenFabMenu Direction="Radzen.FabMenuDirection.Top" >
        <RadzenFabMenuItem Text="Venta" Icon="sell" Click="@HandleCreateSale" />
        <RadzenFabMenuItem Text="Producto" Icon="apparel" Click="@HandleCreateProduct" />
        <RadzenFabMenuItem Text="Consignación" Icon="add_notes" Click="@HandleCreateConsignment" />
        <RadzenFabMenuItem Text="Caja" Icon="box" Click="@HandleCreateBox" />
        <RadzenFabMenuItem Text="Proveedor" Icon="person" Click="@HandleCreateProvider" />
    </RadzenFabMenu>

</div>

<div class="fab-top-container">
    <RadzenFab id="myBtn" Click="ScrollToTop" Icon="arrow_upward" aria-label="back-to-top"/>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initScrollToTop");
        }
    }

    private async Task ScrollToTop()
    {
        await JS.InvokeVoidAsync("topFunction");
    }

    private async Task HandleCreateBox()
    {
        var result = await _dialogService.OpenAsync<CreateBoxForm>("Crear una nueva caja",
            new Dictionary<string, object>(),
            new DialogOptions()
            {
                CloseDialogOnOverlayClick = true
            }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                _simpleNotifications.Success($"Caja creada con éxito!");
                _navigationManager.NavigateTo($"/boxes/{createResult.Value}");
            }
            else
            {
                _simpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private async Task HandleCreateConsignment()
    {
        var result = await _dialogService.OpenAsync<CreateConsignmentForm>("Crear una nueva consignación",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                _simpleNotifications.Success($"Consignación creada con éxito!");
                _navigationManager.NavigateTo($"/consignaciones/{createResult.Value}");
            }
            else
            {
                _simpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateProduct()
    {
        _navigationManager.NavigateTo($"/productos/registrar");
    }

    private async Task HandleCreateProvider()
    {
        var result = await _dialogService.OpenAsync<CreateProviderForm>("Crear un nuevo proveedor",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                _simpleNotifications.Success($"Proveedor creado con éxito!");
                _navigationManager.NavigateTo($"/proveedores/{createResult.Value}");
            }
            else
            {
                _simpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateSale()
    {
        _navigationManager.NavigateTo($"/ventas/registrar");
    }
}