@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@using TodoSeUsa.BlazorServer.UI.Notifications
@using TodoSeUsa.BlazorServer.Features.Boxes
@using TodoSeUsa.BlazorServer.Features.Consignments
@using TodoSeUsa.BlazorServer.Features.Consignors

@inherits LayoutComponentBase;

@inject IJSRuntime JS;

@inject NavigationManager NavigationManager;
@inject SimpleNotifications SimpleNotifications;
@inject DialogService DialogService;
@inject CookieThemeService CookieThemeService;

<RadzenComponents @rendermode="InteractiveServer" />

<style>
    main {
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
    }

    header {
        height: 3.5rem !important;
        flex-shrink: 0 !important;
    }

    article {
        flex: 1 !important;
        overflow: auto !important;
    }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="vw-100 vh-100" style="overflow-x: auto;">

        <div class="top-row px-4">
            <Header />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<AuthorizeView>
    <Authorized>

        <div class="fab-bottom-container">

            <RadzenFabMenu Direction="Radzen.FabMenuDirection.Top" >
                <RadzenFabMenuItem Text="Venta" Icon="sell" Click="@HandleCreateSale" />
                <RadzenFabMenuItem Text="Producto" Icon="apparel" Click="@HandleCreateProduct" />
                <RadzenFabMenuItem Text="Consignación" Icon="add_notes" Click="@HandleCreateConsignment" />
                <RadzenFabMenuItem Text="Consignador" Icon="person" Click="@HandleCreateConsignor" />
                <RadzenFabMenuItem Text="Caja" Icon="box" Click="@HandleCreateBox" />
            </RadzenFabMenu>

        </div>
    </Authorized>
</AuthorizeView>

<div class="fab-top-container">
    <RadzenFab id="myBtn" Click="ScrollToTop" Icon="arrow_upward" aria-label="back-to-top" Style="display: none !important"/>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initScrollToTop");
        }
    }

    private async Task ScrollToTop()
    {
        await JS.InvokeVoidAsync("topFunction");
    }

    private async Task HandleCreateBox()
    {
        var result = await DialogService.OpenAsync<CreateBoxForm>("Registrar nueva caja",
            new Dictionary<string, object>(),
            new DialogOptions()
            {
                CloseDialogOnOverlayClick = true
            }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Caja creada con éxito!");
                NavigationManager.NavigateTo($"/boxes/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private async Task HandleCreateConsignment()
    {
        var result = await DialogService.OpenAsync<CreateConsignmentForm>("Registrar nueva consignación",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Consignación creada con éxito!");
                NavigationManager.NavigateTo($"/consignaciones/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateProduct()
    {
        NavigationManager.NavigateTo($"/productos/registrar");
    }

    private async Task HandleCreateConsignor()
    {
        var result = await DialogService.OpenAsync<CreateConsignorForm>("Registrar nuevo consignador",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Consignador creado con éxito!");
                NavigationManager.NavigateTo($"/consignadores/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateSale()
    {
        NavigationManager.NavigateTo($"/ventas/registrar");
    }
}