@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@using TodoSeUsa.BlazorServer.Components.Pages.Boxes
@using TodoSeUsa.BlazorServer.Components.Pages.Consignments
@using TodoSeUsa.BlazorServer.Components.Pages.Products
@using TodoSeUsa.BlazorServer.Components.Pages.Providers
@using TodoSeUsa.BlazorServer.UI.Notifications

@inherits LayoutComponentBase;

@inject IJSRuntime JS;

@inject NavigationManager NavigationManager;
@inject SimpleNotifications SimpleNotifications;
@inject DialogService DialogService;
@inject CookieThemeService CookieThemeService;

<RadzenComponents @rendermode="InteractiveServer" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="vw-100 vh-100" style="overflow-x: auto;">
        @Body
    </main>
</div>


<AuthorizeView>
    <Authorized>

        <div class="fab-bottom-container">

            <RadzenFabMenu Direction="Radzen.FabMenuDirection.Top" >
                <RadzenFabMenuItem Text="Venta" Icon="sell" Click="@HandleCreateSale" />
                <RadzenFabMenuItem Text="Producto" Icon="apparel" Click="@HandleCreateProduct" />
                <RadzenFabMenuItem Text="Consignación" Icon="add_notes" Click="@HandleCreateConsignment" />
                <RadzenFabMenuItem Text="Caja" Icon="box" Click="@HandleCreateBox" />
                <RadzenFabMenuItem Text="Proveedor" Icon="person" Click="@HandleCreateProvider" />
            </RadzenFabMenu>

        </div>
    </Authorized>
</AuthorizeView>

<div class="fab-top-container">
    <RadzenFab id="myBtn" Click="ScrollToTop" Icon="arrow_upward" aria-label="back-to-top" Style="display: none !important"/>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initScrollToTop");
        }
    }

    private async Task ScrollToTop()
    {
        await JS.InvokeVoidAsync("topFunction");
    }

    private async Task HandleCreateBox()
    {
        var result = await DialogService.OpenAsync<CreateBoxForm>("Crear una nueva caja",
            new Dictionary<string, object>(),
            new DialogOptions()
            {
                CloseDialogOnOverlayClick = true
            }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Caja creada con éxito!");
                NavigationManager.NavigateTo($"/boxes/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private async Task HandleCreateConsignment()
    {
        var result = await DialogService.OpenAsync<CreateConsignmentForm>("Crear una nueva consignación",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Consignación creada con éxito!");
                NavigationManager.NavigateTo($"/consignaciones/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateProduct()
    {
        NavigationManager.NavigateTo($"/productos/registrar");
    }

    private async Task HandleCreateProvider()
    {
        var result = await DialogService.OpenAsync<CreateProviderForm>("Crear un nuevo proveedor",
               new Dictionary<string, object>(),
               new DialogOptions()
               {
                   Width = "50%",
                   CloseDialogOnOverlayClick = true
               }
        );
        if (result is Result<int> createResult)
        {
            if (createResult.IsSuccess)
            {
                SimpleNotifications.Success($"Proveedor creado con éxito!");
                NavigationManager.NavigateTo($"/proveedores/{createResult.Value}");
            }
            else
            {
                SimpleNotifications.Error($"Error: {createResult.Error.Description}");
            }
        }
    }

    private void HandleCreateSale()
    {
        NavigationManager.NavigateTo($"/ventas/registrar");
    }
}