@page "/a"

@using System.Globalization
@using TodoSeUsa.Application.Features.Sales.DTOs
@using TodoSeUsa.Application.Features.Sales.Interfaces
@using TodoSeUsa.BlazorServer.UI.Constants

@inject ISaleService SaleService

<RadzenStack Gap="1.5rem">

    <div style="flex: 1; text-align: center;">
        <RadzenText Text="Resumen" TextStyle="TextStyle.H3" Style="margin: 0"></RadzenText>
    </div>

    <RadzenCard Style="padding: 1rem;">

        <RadzenText Text="Filtrar por Fecha" TextStyle="TextStyle.H6" Style="margin-bottom: 1rem;" />

        <RadzenRow AlignItems="AlignItems.End" Gap="1rem">

            <RadzenColumn Size="12" SizeMD="3">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                    <RadzenLabel Text="Año:" />
                    <RadzenDropDown Data="@years"
                                    @bind-Value="selectedYear"
                                    Change="@Reload"
                                    Style="width:100%;" />
                </RadzenStack>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="3">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                    <RadzenLabel Text="Mes:" />
                    <RadzenDropDown Data="@months"
                                    TextProperty="Text"
                                    ValueProperty="Value"
                                    @bind-Value="selectedMonth"
                                    Change="@Reload"
                                    Style="width:100%;" />
                </RadzenStack>
            </RadzenColumn>

        </RadzenRow>

    </RadzenCard>



    <RadzenRow>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H6">Ventas</RadzenText>
                <RadzenText TextStyle="TextStyle.H3">@salesCount</RadzenText>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H6">Ingresos</RadzenText>
                <RadzenText TextStyle="TextStyle.H3">@revenue.ToString("C")</RadzenText>
            </RadzenCard>
        </RadzenColumn>

    </RadzenRow>

    <RadzenCard class="rz-p-0 rz-p-md-6 rz-p-lg-12">

        <RadzenText TextStyle="TextStyle.H6" Style="margin-bottom: 1rem">Ventas Diarias</RadzenText>

        <RadzenCard Variant="Variant.Outlined" id="chart-controls">

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">

                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels" />
                    <RadzenLabel Text="Mostrar valores" Component="dataLabels" />
                </RadzenStack>

            </RadzenStack>

        </RadzenCard>

        <RadzenChart>

            <RadzenChartTooltipOptions />

            <RadzenLineSeries Data="@paddedSales" CategoryProperty="Day" ValueProperty="Total" Smooth=false Title="Ventas">
                <RadzenMarkers Visible=true MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="@showDataLabels" />
            </RadzenLineSeries>

            <RadzenCategoryAxis Padding="20" Min="1" Max="@DateTime.DaysInMonth(selectedYear, selectedMonth)" Step="1" />


            <RadzenValueAxis Formatter="@FormatAsARS">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Ingresos en ARS" />
            </RadzenValueAxis>
        </RadzenChart>

    </RadzenCard>

</RadzenStack>

@code {

    int selectedYear = DateTime.UtcNow.Year;
    int selectedMonth = DateTime.UtcNow.Month;

    int salesCount;
    decimal revenue;

    IEnumerable<int> daysInMonth => Enumerable.Range(1, DateTime.DaysInMonth(selectedYear, selectedMonth));

    IReadOnlyList<SalePointDto> paddedSales => daysInMonth
    .Select(day => sales.FirstOrDefault(s => s.Day == day) ?? new SalePointDto { Day = day, Total = 0 })
    .ToList();


    IReadOnlyList<SalePointDto> sales = Array.Empty<SalePointDto>();

    IEnumerable<int> years = Enumerable.Range(DateTime.UtcNow.Year - 5, 6);

    IReadOnlyList<Option<int>> months = SpanishMonths.All;

    bool showDataLabels;

    protected override async Task OnInitializedAsync()
    {
        await Reload();
    }

    async Task Reload()
    {
        var ct = CancellationToken.None;

        var countResult = await SaleService.GetTotalCountAsync(selectedYear, selectedMonth, ct);
        var revenueResult = await SaleService.GetRevenueAsync(selectedYear, selectedMonth, ct);
        var salesResult = await SaleService.GetSalesAsync(selectedYear, selectedMonth, ct);

        if (!countResult.IsSuccess || !revenueResult.IsSuccess || !salesResult.IsSuccess)
            return;

        salesCount = countResult.Value;
        revenue = revenueResult.Value;
        sales = salesResult.Value;
    }

    string FormatAsARS(object value)
        => Convert.ToDecimal(value).ToString("C0", CultureInfo.CreateSpecificCulture("es-AR"));
}
